/* sub4 스타일 */

/* 메인 배경 */
header{
    background-image: linear-gradient(to top, rgba(149, 149, 149, 0.34), rgba(0, 0, 0, 0.42)), url(images/sub4-bg.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

header h4{
    font-size: medium;
}


/* 버튼 */
body.button{
    font-family: 'Sunflower', sans-serif;
}

body button.btn{
    background-color: rgba(225, 225, 225, 0.2);
    color: white;
    border: solid 0.5px rgba(225, 225, 225, 0.2);
    /* font-weight: 300; */
}

body button.btn:hover{
    background-color: rgba(225, 225, 225, 0.2);
    color: white;
    border: solid 0.5px white;
    /* font-weight: 300; */
}

/* 내비게이션 */
.navbar{
    background-color: rgba(175, 175, 175, 0.4);
    backdrop-filter: blur(20px);
}

.nav-link:hover,
.nav-link.active {
    color: #B9C280 !important;
    list-style: circle;
}



/* 내비게이션 main 표시 */
#main{
    color: white;
}

#main.nav-link:hover{
    color: #ffff !important;
}

div.dot{
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}


/* 씨앗 대출 설명 섹션 */
.seed{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* 그 밖에 정보 섹션 */
.seed-more{
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    background-color: #B9C280;
}

.seed-more hr{
    margin: 0 auto;
    width: 150px;
}


/* 푸터 */
footer{
    background-color: #B0B1B2;
}